*{
    margin: 0;
    padding: 0;
    color: black;
}
body{
    background: linear-gradient( #40EBC2, #4084EB , #4084EB) no-repeat;
    height: 100vh;
    /* radial-gradient( #40EBC2 15.62%, #4084EB 99.99%, #4084EB 100%); */
    
}
section{

    margin: auto;
    height: 100vh;
    text-align: center;
}
section div{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center 
}
section div div{
    
    
    height: 10em;
    display: flex;
    
    align-items: center;
    justify-content: center;
    cursor: none;
  
    
}
.ajust div{
    margin: 0;
    height: 50px;

}
section div div div h1{
    display: block;
    
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 20px;

    
}
section div div div h2 a{
    display: block;
    color: #fff;
    
}